extends ../templates/layout

block content 
    .container
        h3.mb-4 Editar libro
        .row.justify-content-center
            .col-md-6
                form(method="post") 
                    .mb-3
                        label(for="titulo") Título:
                        input.form-control(type="text", name="titulo", value=libro.titulo, required)
                    .mb-3
                        label(for="fecha_publicacion") Fecha publicación:
                        input.form-control(type="date", name="fecha_publicacion", value=libro.fecha_publicacion, required)
                    .mb-3
                        label(for="precio") Precio:
                        input.form-control(type="number", name="precio", value=libro.precio, step="0.01", min="0", max="1000", required)
                    .mb-3
                        button.btn.btn-primary(type="submit") Guardar cambios
