extends ./templates/layout

block content
  .container-fluid.bg-light.py-5.d-flex.justify-content-center.align-items-center
    .row.text-center
      .col-md-12
        h1.text-primary.display-3.mb-4 Bienvenido a la Librería JL
        p.text-muted.lead Aquí podrás encontrar diferentes tipos de libros, autores y clientes.
        p.mt-4.text-center
          span.fs-5.text-muted "Explora las secciones abajo como ejemplo de lo que vas a encontrar."

  .container.py-5
    .row
      .col-md-12
        h2.text-center.text-secondary.mb-4 Nuestras Secciones
        .row
          .col-md-4
            .card.shadow-sm
              .card-body
                h5.card-title Libros
                p.card-text Sumérgete en los grandes clásicos literarios de la historia de la literatura.
          .col-md-4
            .card.shadow-sm
              .card-body
                h5.card-title Clientes
                p.card-text Descubre las últimas novedades y libros más populares.
          .col-md-4
            .card.shadow-sm
              .card-body
                h5.card-title Autores
                p.card-text Una colección especial de libros para los más pequeños de la casa.
          .col-md-4
            .card.shadow-sm
              .card-body
                h5.card-title Ventas
                p.card-text Una colección especial de libros para los más pequeños de la casa.