
block content 

        div 
            h3 Listado de libros 
            table(border = 1)
                thead 
                    tr 
                        th titulo 
                        th fecha_publicacion 
                        th precio 
                tbody
                    each libro in libros 
                        tr 
                            td=libro.titulo 
                            td=libro.fecha_publicacion 
                            td=libro.precio 
                            
