extends ../templates/layout

block content
    .container
        h3.mb-4 Eliminar cliente
        .row.justify-content-center
            .col-md-6
                form( method="post")
                    .mb-3
                        label.form-label(for="nombre") Nombre:
                        input.form-control(type="text", name="nombre", value=cliente.nombre, disabled)              
                    .mb-3r
                        label.form-label(for="correo") Correo:
                        input.form-control(type="text", name="correo", , value=cliente.correo, disabled)  
                    .mb-3
                        input.form-control(type="hidden", name="id_cliente", value=cliente.id_cliente)
                    .mb-3
                        button.btn.btn-primary(type="submit" class="btn btn-danger") Confirmar eliminación
                        a.btn.btn-secondary.ms-2(href="/cliente" class="btn btn-secondary") Cancelar
