extends ../templates/layout

block content 
    .container
        h3.mb-4 Editar cliente
        .row.justify-content-center
            .col-md-6
                form(method="post") 
                    .mb-3
                        label.form-label(for="nombre") Nombre:
                        input.form-control(type="text", name="nombre", value=cliente.nombre)
                    .mb-3
                        label.form-label(for="correo") Correo:
                        input.form-control(type="text", name="correo", value=cliente.correo)
                    .mb-3
                        input.form-control(type="hidden", name="id_cliente", value=cliente.id_cliente)
                    .mb-3
                        button.btn.btn-primary(type="submit") Guardar cambios

            