extends ../templates/layout

block content
  .container
    h1.mb-4 Lista de Ventas
    table.table.table-striped.table-bordered
      thead
        tr
          th Id
          th Fecha de la venta
          th Total
      tbody
        each venta in ventas
          tr
            td= venta.id_venta
            td= new Date(venta.fecha_venta).toLocaleDateString('es-ES')
            td= venta.total
            